@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-aboreto: var(--font-aboreto);
  --font-stylescript: var(--font-stylescript);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family:var(--font-stylescript), var(--font-aboreto),Arial, Helvetica, sans-serif;
}

.a1{
  @apply hover:underline hover:text-amber-800 hover:animate-pulse hover:font-bold
}